footer
	.container
		.logo
			img.logo-img(
				src="#"
			)
			.logo-name Company
		.copyrights All rights reserved by Company (c) 2020
		.contacts
			.phone +7 495 000 00 00
			.mail info@company.ru