header
	.container
		.logo
			img.logo-img(
				src='#'
			)
			a.company-name(
				href="/"
			) COMPANY
		ul.main-nav
			each name in ['HOME', 'ABOUT', 'CATALOG', 'DELIVERY', 'CONTACTS']
				li.nav-item
					a.nav-link(
						href="#"
					)= name
		.contacts
			.phone +7 495 000 00 00
			.mail info@company.ru